@using System.Security.Claims
@{
    var userRolesNames=User.Claims
        .Where(c => c.Type == ClaimTypes.Role)
        .Select(c => c.Value).ToList();
    bool isAdmin=false;
    if (userRolesNames.Contains("Admin") || userRolesNames.Contains("Manager"))
        isAdmin = true;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Online bank</title>

    <!-- Fav Icon -->
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="~/assets/css/font-awesome-all.css" rel="stylesheet">
    <link href="~/assets/css/flaticon.css" rel="stylesheet">
    <link href="~/assets/css/owl.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/assets/css/animate.css" rel="stylesheet">
    <link href="~/assets/css/nice-select.css" rel="stylesheet">
    <link href="~/assets/css/elpath.css" rel="stylesheet">
    <link href="~/assets/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
    <link href="~/assets/css/switcher-style.css" rel="stylesheet">
    <link href="~/assets/css/rtl.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/module-css/banner.css" rel="stylesheet">
    <link href="~/assets/css/module-css/feature.css" rel="stylesheet">
    <link href="~/assets/css/module-css/about.css" rel="stylesheet">
    <link href="~/assets/css/module-css/service.css" rel="stylesheet">
    <link href="~/assets/css/module-css/calculator.css" rel="stylesheet">
    <link href="~/assets/css/module-css/video.css" rel="stylesheet">
    <link href="~/assets/css/module-css/funfact.css" rel="stylesheet">
    <link href="~/assets/css/module-css/apps.css" rel="stylesheet">
    <link href="~/assets/css/module-css/testimonial.css" rel="stylesheet">
    <link href="~/assets/css/module-css/news.css" rel="stylesheet">
    <link href="~/assets/css/module-css/subscribe.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    @await RenderSectionAsync("Styles",required:false)
    
</head>

    <div class="boxed_wrapper ltr">
    

        <!-- main header -->
        <header class="main-header">
            <!-- header-top -->
            <div class="header-lower">
                <div class="large-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <div class="shape"></div>
                        </div>
                        <div class="menu-area">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                                <nav class="main-menu navbar-expand-md navbar-light clearfix">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            @if (!isAdmin)
                                            {
                                                <li><a href="@Url.Action("Create", "Deposit")">Открыть депозит</a></li>
                                                <li><a href="@Url.Action("Create", "Account")">Открыть счет</a></li>
                                            }
                                        </ul>
                                    </div>
                                </nav>
                            <div class="menu-right-content ml_70">
                                @if (!isAdmin)
                                {
                                    <a href="@Url.Action("Profile", "User")" class="theme-btn btn-one">Личный кабинет</a> 
                                }
                                @if (isAdmin)
                                {
                                    <a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="theme-btn btn-one">Панель администратора</a>
                                }
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="large-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <div class="shape"></div>
                            <figure class="logo"><a href="index.html"><img src="~/assets/images/logo.png" alt=""></a></figure>
                        </div>
                        <div class="menu-area">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                            <div class="menu-right-content ml_70">
                                <a href="index.html" class="theme-btn btn-one">Личный кабинет</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

</div>

<body>
@RenderBody();
<!-- page wrapper -->

<!-- jequery plugins -->
<script src="~/assets/js/jquery.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/owl.js"></script>
<script src="~/assets/js/wow.js"></script>
<script src="~/assets/js/validation.js"></script>
<script src="~/assets/js/jquery.fancybox.js"></script>
<script src="~/assets/js/appear.js"></script>
<script src="~/assets/js/isotope.js"></script>
<script src="~/assets/js/parallax-scroll.js"></script>
<script src="~/assets/js/jquery.nice-select.min.js"></script>
<script src="~/assets/js/jQuery.style.switcher.min.js"></script>
<script src="~/assets/js/emi-calculator.js"></script>

<!-- main-js -->
<script src="~/assets/js/script.js"></script>
@await RenderSectionAsync("Scripts", required: false)

</body><!-- End of .page_wrapper -->
</html>