@model OnlineBank.Data.ViewModels.AccountsViewModel

@{
    Layout = "_ProfileLayout";
}
@section ClientName
{
    <a href="@Url.Action("Profile","User")" class="d-block">@Model.ClientSurname @Model.CLientName</a>
}
<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card">
<!-- /.card-header -->
<div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Баланс</th>
                <th>Просмотреть транзакции</th>
                <th>Пополнить</th>
                <th>Снять деньги</th>
                <th>Закрыть счет</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var account in Model.Accounts)
            {
                <tr>
                    <td>@account.Number</td>
                    <td>@account.Balance</td>
                    <td><a href=""><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            }
            </tbody>
        </table>
</div>
</div>
</div>
</div>
</div>
</section>
