@model OnlineBank.Data.ViewModels.DepositViewModel

@{
    Layout = "_AdminLayout";
}
<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-12">
    <div class="card">
        <div class="card-header">
                                            <h3 class="card-title">Депозиты</h3>
                            
                                            </div>
                                            <!-- /.card-header -->
        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Баланс</th>
                    <th>Тип депозита</th>
                    <th>Процентная ставка</th>
                    <th>Сумма после окончания срока</th>
                    <th>Редактировать</th>
                    <th>Закрыть депозит</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.Deposits.Count != 0)
                {
                    @foreach (var depositWithTypeViewModel in Model.Deposits)
                    {
                        <tr>
                            <td>@depositWithTypeViewModel.Deposit.Number</td>
                            <td>@depositWithTypeViewModel.Deposit.Balance</td>
                            <td>@depositWithTypeViewModel.DepositType.Name</td>
                            <td>@depositWithTypeViewModel.Deposit.InterestRate</td>
                            <td>@depositWithTypeViewModel.TotalAmountAtEnd</td>
                            <td><a href="@Url.Action("Update", "Deposit", new { depositId = depositWithTypeViewModel.Deposit.Id })">Редактировать</a></td>
                            <td><a href="@Url.Action("Delete", "Deposit", new { depositId = depositWithTypeViewModel.Deposit.Id })"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</section>